@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.select-search-countries label {
  color: #fff !important;
  padding-left: 16px;
}

.select-search-countries label::after,
.select-search-countries label::before {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  *::-webkit-scrollbar {
    @apply bg-card-800;
    width: 10px;
    border-radius: 99px
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-card-400;
    width: 8px;
    border-radius: 99px
  }

  input:focus {
    outline: none !important
  }
}

.leaflet-control-attribution.leaflet-control{
  display:none
}